@font-face {
  font-family: CustomFont;
  src: url(./font/Careem\ Bold.ttf);
  src: url(./font/Careem\ Regular.ttf);
}

body {
  font-family: CustomFont;
  margin: 20px;
  
  background-image: url(./images/new/head.png);
  background-repeat: repeat;
  background-size: cover;
}

.demo-wrap {
  overflow: hidden;
  position: relative;
}

.demo-bg {
  margin-top: 10%;
  opacity: 0.5;
  position: absolute;
  width: -webkit-fill-available;
  /* left: 0;
  top: 0; */
  /* width: 80%;
  height: 50%; */
 
    left: 20%;
    top: -31%;
    z-index: -1;
}

.demo-content {
  position: relative;
}
/* page one */

h1 {
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

textarea {
  width: 100%;
  height: 100px;
  border: 2px solid;
  border-radius: 17px;
  padding: 10px;
  font-size: 20px;
}

.circle-button {
  margin-top: 20px;
}

.circle-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px;
}
.footer-bg
{
  /* background-image: url(./images/new/image9.png); */
  margin-top: 14%;
  /* opacity: 20.5; */
  position: absolute;
  left: -7%;
  top: -12%;
  width: -webkit-fill-available;
  z-index: -2;
}
/* .demo-bg {
  margin-top: 10%;
opacity: 0.5;
position: absolute;
width: -webkit-fill-available;


  left: 20%;
  top: -25%;
} */
@media only screen and (max-width: 600px) {
  .container {
    max-width: 100%;
  }
   .footer-bg
{
  margin-top: 14%;
  /* opacity: 20.5; */
  position: absolute;
  left: -7%;
  top: 65%;
  width: -webkit-fill-available;
} 
  /* .demo-bg { */
    /* margin-top: 10%;
  opacity: 0.5;
  position: absolute; */
  /* width: -webkit-fill-available; */
  /* left: 0;
  top: 0; */
  /* width: 80%;
  height: 50%; */
 
    /* left: 20%;
    top: -25%; */
  /* }  */
  .circle-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 25px;
  }
  .circle-button {
    margin-top: 5px;
  }

  .fa-3x {
    font-size: 2em !important;
  }
}

.footer {
  width: 30%;
  margin-bottom: 50px;
}

.input-wrapper {
  padding: 20px;
}

.input {
  height: 40px;
  border-radius: 10px;
  border: 2px solid;
}

.word1 {
  transform: translate(-60px, 35px) rotate(-30deg);
}

.word2 {
  transform: translate(-40px, 10px) rotate(-20deg);
}

.word3 {
  transform: translate(-10px, 0px) rotate(0deg);
}

.word4 {
  transform: translate(25px, 10px) rotate(20deg);
}

.word5 {
  transform: translate(50px, 40px) rotate(30deg);
}

h1,
h4,
.custom {
  color: #927033;
}
